.scrolling-section {
  margin: 5px 5%;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.items-container {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 5px;
  animation: scroll 30s linear infinite;
}

.uni-carousel-item {
  width: 200px;
  height: 80px;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px 0 25px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 0.3s ease-in-out;
}

.uni-carousel-item img {
  width: 150px;
  height: 100%;
  vertical-align: middle;
}

.uni-carousel-item:hover {
  border-radius: 0 25px 0 25px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-top: 1px solid rgba(170, 0, 0, 1);
  border-right: 1px solid rgba(170, 0, 0, 1);
}

@keyframes scroll {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.uniqueCardBtn-Section {
  margin: 5px 5%;
  padding: 10px;
}

.uniqueCardBtn-Section .uniqueCardBtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
  width: 260px;
  height: 140px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: rgb(239, 12, 12);
  background: radial-gradient(
    circle,
    rgba(239, 12, 12, 1) 0%,
    rgba(170, 0, 0, 1) 65%
  );
  border-radius: 25px 0 25px 0;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: transform 0.3s ease-in-out;
}

.uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn img {
  max-width: 50px;
}

.uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn p {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  color: #fff;
  text-align: center;
}

.uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn:hover {
  border-radius: 0 25px 0 25px;
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* MediaQueries */

@media (max-width: 1511px) {
  .uniqueCardBtn-Section {
    margin: 5px;
  }

  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 240px;
  }
}
@media (max-width: 1420px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 230px;
  }
}

@media (max-width: 1300px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 220;
  }
}

@media (max-width: 1220px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 220px;
  }
}

@media (max-width: 920px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 200px;
  }
}

@media (max-width: 440px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 340px) {
  .uniqueCardBtn-Section .uniqueCardBtn-container .uniqueCardBtn {
    width: 100%;
    height: 100%;
  }
}
